html {
  background-color: #000;
  color: white;
}

#videoContainer {
  /* max-width: 560px; */
  align-items: center;
  display: flex;
  justify-content: center;
}

@font-face {
  font-family: "scream";
  src: url(../font/ScreamReal.ttf);
}

@font-face {
  font-family: "body";
  src: url(../font/EGOSHICTrial.ttf);
}

#descriptionBox {
  width: 100%;
  text-align: center;
  /* color: white; */
  font-size: 2em;
  /* background-color: rgba(0, 0, 0, 0.5); */
  padding: 10px;
  margin-top: 20px; /* Voeg ruimte toe boven de beschrijvingsbox */
  /* font-family: scream; */
  font-family: body;
}

#timed-text {
  position: absolute;
  top: 25rem;
  left: 45rem;
  display: none; /* Initially hidden */
  opacity: 0; /* Initially fully transparent */
  transition: opacity 1s; /* Smooth transition for the opacity */
  font-family: scream;
}

#timed-text2 {
  position: absolute;
  top: 25rem;
  left: 35rem;
  display: none; /* Initially hidden */
  opacity: 0; /* Initially fully transparent */
  transition: opacity 1s; /* Smooth transition for the opacity */
  font-family: scream;
}

#timed-text3 {
  position: absolute;
  top: 20rem;
  left: 35rem;
  color: white;
  font-size: 2em;
  display: none; /* Initially hidden */
  opacity: 0; /* Initially fully transparent */
  transition: opacity 1s; /* Smooth transition for the opacity */
  font-family: scream;
}

#timed-text4 {
  position: absolute;
  top: 20rem;
  left: 45rem;
  color: white;
  font-size: 3em;
  display: none; /* Initially hidden */
  opacity: 0; /* Initially fully transparent */
  transition: opacity 1s; /* Smooth transition for the opacity */
  font-family: scream;
}

/* water */
#timed-text5 {
  position: absolute;
  top: 20rem;
  left: 45rem;
  color: white;
  font-size: 3em;
  display: none; /* Initially hidden */
  opacity: 0; /* Initially fully transparent */
  transition: opacity 1s; /* Smooth transition for the opacity */
  font-family: scream;
}

/* step */
#timed-text6 {
  position: absolute;
  top: 40rem;
  left: 45rem;
  color: white;
  font-size: 2em;
  display: none; /* Initially hidden */
  opacity: 0; /* Initially fully transparent */
  transition: opacity 1s; /* Smooth transition for the opacity */
  font-family: scream;
}

/* Voorbeeld animatie */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(5deg);
  }
  20% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-5deg);
  }
  40% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(5deg);
  }
  60% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(-5deg);
  }
  80% {
    transform: rotate(0deg);
  }
  90% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes draai {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(5deg);
  }
}

#myVideo {
  width: 80%;
  justify-content: center;
  display: flex;
  padding: 2em 2em 0 2em;
}

#speedometerContainer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

#speedometer {
  font-size: 4em;
  font-family: "Arial", sans-serif;
}

#tikContainer {
  position: absolute;
  /* margin-top: -20em; */
  width: 200px;
  height: 200px;
  margin: 100px auto;
  top: 8em;
  left: 7em;
}

.tik {
  position: absolute;
  width: auto;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 1em;
  color: white;
  opacity: 0; /* Start met onzichtbaar */
  transition: opacity 0.5s ease-in-out; /* Overgang voor zichtbaar/onzichtbaar */
}

/* Positieer elk 'tik' element in een cirkel */
.tik:nth-child(1) {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.tik:nth-child(2) {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.tik:nth-child(3) {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.tik:nth-child(4) {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.tik:nth-child(5) {
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}
